

.aboutMain{
    font-family: 'Inter';
}

.aboutContainer{
    margin-top: 5vh;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    padding-bottom: 3%;
}

.pageHead{
    padding: 20px;
    font-size: 35px;
    margin-top: 20px;
    text-align: center;
}

.aboutPara{
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
}

.contactContainer{
    margin-top: 4vh;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contactDetail{
    margin-bottom: 20px;
    margin-left: 8vw;
}

.contact{
    padding-left: 8vw;
}

.pageSubHead{
    margin-bottom: 10px;
}

.para{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 20px;
    font-weight: 500;
}

.link{
    text-decoration: none;
}

.details{
    font-weight: 500;
}
